body, html {
  height: 100%;
  width:100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  font-family: Georgia, serif;
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
}


.privacypolicy {
  display: flex;
  flex-direction: column;
  height: auto;
}

#privacyPolicyTitle {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: -20px;
  margin-top: -20px;
  align-self: center;
}


p {
  margin-left: 25px;
  margin-top: 50px;
  margin-bottom: -20px;
  font-size: 20px;
}

ol {
  margin-left: 25px;
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: -20px;
}


#lastUpdate {
  font-size: 30px;
  font-weight: 500;
  align-self: center;
  margin-bottom: -30px;
}

.intro {
  font-size: 40px;
  font-weight: 300;
  color:  #FFF0DA;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 800;
}

@media(max-width: 1000px) {
  .mobile-logo {
    padding: 5px;
  }
  .logos {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    max-height: 200px;
  }
  .intro {
    font-size: 64px;
    text-shadow: 0 0 20px #494EBF;
  }
}
